<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Duck Dashboard | Coding Dojo</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Add a New Duck...</h1>

            <div class="duckForm">
                <form class="" action="/ducks" method="post">
                    <input type="text" name="name" placeholder="Enter Duck Name..." value="">
                    <input type="text" name="duckType" placeholder="Enter Duck Type" value="">
                    <input type="text" name="age" placeholder="Enter Duck Age" value="">
                    <input type="submit" name="submit" value="Submit New Duck">
                </form>
            </div>
        </div>
    </body>
</html>
